
  body {
  background-image: url('../img/fundo_login.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% auto; /* ou 'contain' se quiser preservar tudo */
  min-height: 100vh;
}

.texto_branco {
color: white;
}

.texto_cinza {
color: rgb(128, 119, 119);
}

.text-bold {
  font-weight: bold;
}

.login-box {
max-width: 500px;
margin: 100px auto;
padding: 40px;
text-align: center;
}

.btn-primary-custom {
background-color: #17a2b8;
width: 100%;
padding: 15px;
margin-bottom: 15px;
border: none;
}

.btn-facebook {
background-color: #3b5998;
width: 48%;
}

.btn-chave {
width: 48%;
}

.linha-login {
border: none;
border-top: 1px solid #727070; 
width: 100%;
margin: 0 auto 15px auto;
}
