body {
  background-image: url("../img/fundo_login.png");
  background-repeat: no-repeat;
  background-size: cover; /* ou 'cover' se quiser preencher a tela */
  background-position: center center; /* centraliza mais verticalmente */
  background-attachment: fixed;
  min-height: 100vh;
}

.login-box {
  max-width: 500px;
  margin: 100px auto;
  padding: 40px;
  text-align: center;
  margin-left: 360px;
}

.btn-facebook {
  background-color: #3b5998;
}

.btn-facebook:hover {
  background-color: #2d4373;
}

.btn-info-custom {
  background-color: #17a2b8;
}
.btn-info-custom:hover {
  background-color: #138496;
}

.linha-login {
  border-top: 1px solid;
  width: 100%;
  margin: 0 auto 15px;
}
