<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Botões de Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="../../css/styleLogins.css" />
  </head>
  <body
    class="bg-login d-flex justify-content-center align-items-center min-vh-100"
  >
    <div class="text-center w-100" style="max-width: 570px">
      <h4 class="mb-3 text-muted fw-bold">POR FAVOR INFORME SEU EMAIL</h4>
      <hr class="linha-login text-secondary mx-auto my-4" />

      <input
        type="email"
        class="form-control mx-auto input-max-width"
        placeholder="Ex: jose@email.com"
        id="emailInput"
      />

      <div
        class="d-flex justify-content-between align-items-center mt-4 mx-auto px-3 button-container"
      >
        <a href="login.html" class="text-decoration-none text-primary fw-bold">
          <i class="bi bi-arrow-left"></i> Voltar
        </a>
        <button
          type="button"
          class="btn btn-info-custom text-white fw-bold px-4"
          id="confirmarEmail"
        >
          Confirmar
        </button>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
      $(window.document).ready(function () {
        $("#confirmarEmail").click(function () {
          const email = $("#emailInput").val().trim();
          const emailValido = /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email);
         
          if (!emailValido) {
            $("#emailInput").addClass("is-invalid");
            return;
          }

          $("#emailInput").removeClass("is-invalid");

          // Atualiza dados existentes ou cria novos
          //let cliente = new Cliente();     
          //cliente.email = email;
          localStorage.setItem(email, JSON.stringify({email: email}));
          window.location.href = "senhaLogin.html?email="+email;
        });
      });
    </script>
  </body>
</html>
