<div class="container-fluid bg-info text-white py-2 z-1030">
  <div class="container d-flex justify-content-between align-items-center">
    <!-- Logo + Busca -->
    <div class="d-flex align-items-center flex-grow-1 me-4">
      <h1 class="mb-0 me-4 text-nowrap logo fw-black fw-bold"><a href="/view/tela-inicial/tela-inicial.html" class=" text-white text-decoration-none"> livraria cultura</h1></a>
      <div class="input-group search-bar flex-grow-1 tanho-navbar">
        <select
          class="form-select filtro-site rounded-0 shadow-none"
          aria-label="Filtro de busca"
        >
          <option selected>TODO O SITE</option>
          <option value="livros">Livros</option>
          <option value="filmes">Filmes</option>
          <option value="ebooks">eBooks</option>
          <option value="musica">Música</option>
          <option value="papelaria">Papelaria & Etc</option>
          <option value="brinquedos">Brinquedos</option>
          <option value="geek">Geek</option>
          <option value="kobo">Kobo</option>
          <option value="cultura">Cultura em curso</option>
        </select>
        <input
          type="text"
          class="form-control campo-pesquisa rounded-0 shadow-none"
          placeholder="Buscar na Livraria Cultura"
        />
        <button class="btn btn-light rounded-0 shadow-none">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </div>

    <!-- Ícones usuário + carrinho -->
    <div class="d-flex align-items-center">
      <i class="bi bi-person-circle fs-3 me-2 text-secondary"></i>
      <div class="d-flex flex-column align-items-start">
        <!-- Texto fixo com nome -->
        <div class="fw-medium mb-1">
          Olá <span id="name-user-span">bem-vindo</span>
        </div>

        <!-- Dropdown Bootstrap abaixo -->
        <div class="dropdown">
          <button
            class="btn btn-info text-white fw-medium dropdown-toggle p-0"
            type="button"
            id="dropdownConta"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            style="font-size: 0.9rem"
          >
            Entrar / Cadastrar
          </button>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="dropdownConta"
          >
            <li>
              <a
                class="dropdown-item text-primary fw-bold"
                href="/view/login/login.html"
                >Entrar / Cadastrar</a
              >
            </li>

            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Meus pedidos</a></li>
            <li><a class="dropdown-item" href="#">Meus eBooks</a></li>
            <li><a class="dropdown-item" href="#">Meus pontos +Cultura</a></li>
            <li>
              <a class="dropdown-item" href="/view/minha-conta/minha-conta.html"
                >Minha conta</a
              >
            </li>
            <li><a class="dropdown-item" href="#">Lista de desejos</a></li>
            <li><a class="dropdown-item" href="#" id="sairConta">Sair</a></li>
          </ul>
        </div>
      </div>

      <!-- Carrinho -->
      <div class="position-relative ms-4">
        <i class="bi bi-cart fs-2"></i>
        <span class="cart-badge bg-danger text-white">0</span>
      </div>
    </div>
  </div>

  <!-- Sub-barra -->
  <div class="container-fluid sub-bar bg-info text-white">
    <div class="container d-flex justify-content-center py-1">
      <a href="#" class="me-3 text-white text-decoration-none fs-6"
        >Atendimento e Televendas</a
      >
      <span class="me-3 text-white">|</span>
      <a href="#" class="me-3 text-white text-decoration-none fs-6"
        >Atendimento Empresas</a
      >
      <span class="me-3">|</span>
      <a href="#" class="me-3 text-white text-decoration-none fs-6"
        >Sebo Cultura</a
      >
      <span class="me-3">|</span>
      <a href="#" class="me-3 text-white text-decoration-none fs-6"
        >Cultura Pass</a
      >
    </div>
  </div>
</div>

<!-- Categorias -->
<div
  id="categoriasBar"
  class="container-fluid bg-light border-bottom shadow-sm small"
>
  <div class="container d-flex align-items-center py-2">
    <i class="bi bi-list me-3 fs-4 text-info"></i>
    <select
      class="form-select form-select-sm border-0 text-info fw-bold p-0 w-auto bg-transparent focus-ring-0 me-3"
    >
      <option selected disabled class="">Compre por categoria</option>
      <option value="livros">Livros</option>
      <option value="ebooks">eBooks</option>
      <option value="infantil">Infantil</option>
      <option value="outras">Outras categorias</option>
      <option value="vale-presente">Vale-presente</option>
      <option value="cultura-pass">Cultura Pass</option>
      <option value="vendas">&#xF618; Atendimento de vendas</option>
    </select>

    <a href="#" class="me-3 text-muted text-decoration-none"
      >Literatura Brasileira</a
    >
    <a href="#" class="me-3 text-muted text-decoration-none"
      >Literatura Internacional</a
    >
    <a href="#" class="me-3 text-muted text-decoration-none">Infanto juvenil</a>
    <a href="#" class="me-3 text-muted text-decoration-none">Auto ajuda</a>
    <a href="#" class="me-3 text-muted text-decoration-none">Biografias</a>
    <a href="#" class="me-3 text-muted text-decoration-none">HQs</a>
    <a href="#" class="me-3 text-muted text-decoration-none">Negócios</a>
    <a href="#" class="me-3 text-muted text-decoration-none">Novidades</a>
    <a href="#" class="me-3 text-muted text-decoration-none">Mais Vendidos</a>
  </div>
</div>
