<footer class="bg-white pt-4">
  <div class="bg-info text-white py-2">
    <div class="container d-flex justify-content-start gap-4 fs-5">
      <span class="fw-bold me-3">REDES SOCIAIS</span>
      <i class="bi bi-facebook me-3"></i>
      <i class="bi bi-instagram me-3"></i>
      <i class="bi bi-youtube me-3"></i>
      <i class="bi bi-tiktok me-3"></i>
    </div>
  </div>

  <div class="container py-4">
    <div class="row text-start small text-muted">
      <div class="col-md-2 mb-4">
        <h6 class="text-info fw-bold">SOBRE A CULTURA</h6>
        <ul class="list-unstyled">
          <li>
            <a href="#" class="text-muted text-decoration-none fw-medium"
              >Quem somos</a
            >
          </li>
          <li>
            <a href="#" class="text-muted text-decoration-none fw-medium"
              >Eventos</a
            >
          </li>
          <li>
            <a href="#" class="text-muted text-decoration-none fw-medium"
              >Trabalhe conosco</a
            >
          </li>
          <li>
            <a href="#" class="text-muted text-decoration-none fw-medium"
              >Vale-presente</a
            >
          </li>
          <li>
            <a href="#" class="text-muted text-decoration-none fw-medium"
              >Recuperação Judicial</a
            >
          </li>
        </ul>
      </div>

      <div class="col-md-2 mb-4">
        <h6 class="text-info fw-bold">ATENDIMENTO AO CLIENTE</h6>
        <ul class="list-unstyled">
          <li>
            <a href="#" class="text-muted text-decoration-none fw-medium"
              >Entre em contato</a
            >
          </li>
          <li>
            <a href="#" class="text-muted text-decoration-none fw-medium"
              >Política de Privacidade</a
            >
          </li>
          <li>
            <a href="#" class="text-muted text-decoration-none fw-medium"
              >Entrega e devolução</a
            >
          </li>
          <li>
            <a href="#" class="text-muted text-decoration-none fw-medium"
              >Perguntas e respostas</a
            >
          </li>
          <li>
            <a href="#" class="text-muted text-decoration-none fw-medium"
              >Atendimento Kobo</a
            >
          </li>
        </ul>
      </div>

      <div class="col-md-2 mb-4">
        <h6 class="text-info fw-bold">SERVIÇOS</h6>
        <ul class="list-unstyled">
          <li>
            <a href="#" class="text-muted text-decoration-none fw-medium"
              >Cultura Pass</a
            >
          </li>
          <li>
            <a href="#" class="text-muted text-decoration-none fw-medium"
              >Sebo Cultura</a
            >
          </li>
          <li>
            <a href="#" class="text-muted text-decoration-none fw-medium"
              >Teatro Cultura</a
            >
          </li>
          <li>
            <a href="#" class="text-muted text-decoration-none fw-medium"
              >Mais Cultura</a
            >
          </li>
          <li>
            <a href="#" class="text-muted text-decoration-none fw-medium"
              >Marketplace</a
            >
          </li>
        </ul>
      </div>

      <div class="col-md-4 mb-4">
        <h6 class="text-info fw-bold">FORMAS DE PAGAMENTO</h6>
        <div class="mb-2">
          <img
            src="https://logodownload.org/wp-content/uploads/2016/10/visa-logo-0.png"
            width="50"
            alt="Visa"
          />
          <img
            src="https://logodownload.org/wp-content/uploads/2014/07/mastercard-logo-4.png"
            width="50"
            alt="MasterCard"
          />
          <img
            src="https://logodownload.org/wp-content/uploads/2014/07/cielo-logo-0.png"
            width="40"
            alt="Elo"
          />
          <img
            src="https://logodownload.org/wp-content/uploads/2015/03/hipercard-logo-0.png"
            width="40"
            alt="Amex"
          />
        </div>
        <div>
          <img
            src="https://logodownload.org/wp-content/uploads/2014/10/paypal-logo-2.png"
            width="50"
            alt="PayPal"
          />
          <img
            src="https://logodownload.org/wp-content/uploads/2019/09/boleto-logo-0.png"
            width="50"
            alt="Boleto"
          />
          <img
            src="https://logodownload.org/wp-content/uploads/2020/02/pix-bc-logo-0.png"
            width="60"
            alt="Pix"
          />
        </div>
        <div>
          <img
            src="https://logodownload.org/wp-content/uploads/2014/05/banco-do-brasil-logo-0.png"
            width="50"
            alt="PayPal"
          />
          <img
            src="https://logodownload.org/wp-content/uploads/2014/05/itau-logo-0.png"
            width="50"
            alt="Boleto"
          />
          <img
            src="https://logodownload.org/wp-content/uploads/2018/09/bradesco-logo-novo-2018.png"
            width="40"
            alt="Pix"
          />
          <img
            src="https://logodownload.org/wp-content/uploads/2014/02/caixa-logo-0.png"
            width="50"
            alt="Pix"
          />
          <img
            src="https://logodownload.org/wp-content/uploads/2017/05/santander-logo-1.png"
            width="50"
            alt="Pix"
          />
        </div>
      </div>

      <div class="col-md-2 mb-4 text-center">
        <h6 class="text-info fw-bold">CERTIFICADOS</h6>
        <img src="/img/certificado.webp" class="img-fluid" alt="Selo Ebit" />
      </div>
    </div>
  </div>

  <div class="bg-light py-3 border-top">
    <div class="container text-center small text-muted">
      <p class="mb-1">
        Livraria Cultura, todos os direitos reservados. Copyright 2025
      </p>
      <p class="mb-0">
        UTFPR - Av. Profª Laura Pacheco Bastos, 800 - Industrial, Guarapuava -
        PR - Brasil - CNPJ 00.000.000/0000-00
      </p>
      <p class="mb-0">
        Site criado como modelo de estudos universitario com base no site da
        livraria cultura. Sem fins lucrativos.
      </p>
    </div>
  </div>
</footer>
